:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --gray: #999cad;
  --whiteGray: #ecf1f4;
  --green: #38b349;
  --dark: #0f3043;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
