:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --gray: #999cad;
  --whiteGray: #ecf1f4;
}

ul {
  list-style: none;
}
